body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.section-height{
    height: 500px;
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
a{
    color: black;
    text-decoration: none; 
    font-size: 20px;
    font-weight: 600;
}
ul{
    width: auto;
    float: right;
    margin-top: 30px;
    text-decoration: none;
    margin-right: 110px; 
}
li{
    display: inline-block;
    padding: 15px 30px;
    color: #3C3C3C;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none; 
}
.highlight{
    color: #F46060;
    font-family: 'Bebas Neue', cursive;
}
.top{
    
    font-family: 'Roboto', sans-serif;}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 10%;
}

.half-width img{
    width: 100%;
}

.hire-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg,lightSAlmon,tomato);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}

.mid-sec{
    text-align: center;
    margin-top: 20px;
}

.mid-banner{

    background-color: rgb(246, 246, 255);
    font-family: 'Bebas Neue', cursive;
    float: left;
    height: 750px;

}


.work {
    /* box-shadow: 10px 10px 40px grey; */
    border-radius: 5px;
    background-color: white;
}

.three-width{
    width: 23%;
    float: left;
    height: 380px;
    margin: 5%;
    padding: 2%;
    box-sizing: border-box;

}
.imga{
    width: 100%;
    float: left;
    margin-bottom: 20px;

}
.work-inquiry{
    background-image: url(image/Group1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    margin: 50px;
    height: 4700px;
    
    

}
.inquiry {
    float: left;
    margin-top: 180px;
    margin-left: 450px;
    color: white;
}
.chat-button{
    float: right;
    margin-right: 550px;
    margin-top: 180px;
    font-size: 15px;
    color: white;

    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg,lightSAlmon,tomato);
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: 700;
    color: white;
}